<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="eyediaCoreConfigurationSection" type="Eyedia.Core.EyediaCoreConfigurationSection, Eyedia.Core" allowLocation="true" allowDefinition="Everywhere"/>
    <section name="sreConfigurationSection" type="Eyedia.IDPE.Common.SreConfigurationSection, Eyedia.IDPE.Common" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <configProtectedData defaultProvider="SreRsaProtectedConfigurationProvider">
    <providers>
      <add name="RsaProtectedConfigurationProvider" type="Eyedia.Core.Encryption.RsaProtectedConfigurationProvider, Eyedia.Core, Version=1.1.7.1510, Culture=neutral, PublicKeyToken=228205fd2c7a1149" keyContainerName="Eyedia.xml" useMachineContainer="false"/>
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="cs" connectionString="Data Source='C:\Workspace\IDPE\idpe.sdf';password=acc3s$"/>
  </connectionStrings>
  <eyediaCoreConfigurationSection instanceName="DEV.SRE4.0" authenticationType="Eyedia"  authorizedGroups="abc"
                                  debug="true" cache="true" tempDirectory="C:\Workspace\IDPE\Temp"
                                  recordsPerThread="3" maxThreads="20" hostingEnvironment="WindowsService">
    <database databaseType="SqlCe"/>
    <email enabled="true" smtpServer="smtp.capmark.funb.com" fromEmail="debojyoti.das@wellsfargo.com" toEmails="debojyoti.das@wellsfargo.com"/>
    <trace enabled="true" filter="Information" file="C:\Workspace\IDPE\Logs\idpes.txt"/>
  </eyediaCoreConfigurationSection>
  <sreConfigurationSection timeOut="3" workerTimeOut="60">
    <localFileWatcher enabled="true" baseDirectory="C:\Workspace\IDPE\WatchFolder" retryTimeOut="10"/>
    <tracking enabled="false" performanceCounter="false" silientBusinessRuleError="true" updateMatrix="false" updateMatrixFormat="[{0}] ? {1} &gt;&gt;"/>
  </sreConfigurationSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="StandardBehavior" name="Eyedia.IDPE.Services.Idpe">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="Eyedia.IDPE.Services.IIdpe">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7575/sre" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="StandardBehavior" name="Eyedia.IDPE.Services.IdpeEnvironmentService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="Eyedia.IDPE.Services.ISreEnvironmentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7585/srees" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:7575/idpe" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IdpeService" contract="Eyedia.IDPE.Services.IdpeService" name="NetTcpBinding_IdpeService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="default" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
        </binding>
        <binding name="NetTcpBinding_IdpeService" closeTimeout="00:01:00" openTimeout="00:01:00"
                 receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false"
                 transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
