<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IIdpe" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7575/idpe" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IIdpe" contract="Eyedia.IDPE.Clients.IIdpe"
                name="NetTcpBinding_IIdpe">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>