<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISreEnvironmentService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISreEnvironmentService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7200/idpees" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISreEnvironmentService"
                contract="Eyedia.IDPE.Clients.ISreEnvironmentService"
                name="NetTcpBinding_ISreEnvironmentService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7002/idpees" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISreEnvironmentService"
                contract="Eyedia.IDPE.Clients.IIdpeEnvironmentService"
                name="BasicHttpBinding_ISreEnvironmentService" />
        </client>
    </system.serviceModel>
</configuration>