<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISre" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISre" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7100/sre" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISre" contract="Eyedia.IDPE.Common.ISre"
                name="NetTcpBinding_ISre">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:7000/sre" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISre" contract="Eyedia.IDPE.Common.ISre"
                name="BasicHttpBinding_ISre" />
        </client>
    </system.serviceModel>
</configuration>