<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
   name="symplusCoreConfigurationSection"
   type="Symplus.Core.SymplusCoreConfigurationSection, Symplus.Core"
   allowLocation="true"
   allowDefinition="Everywhere"
      />
    <section
       name="sreConfigurationSection"
       type="Symplus.RuleEngine.Common.SreConfigurationSection, Symplus.RuleEngine.Common"
       allowLocation="true"
       allowDefinition="Everywhere"
      />
  </configSections>
  <configProtectedData>
    <providers>
      <add name="SREKeyProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="SREKey.xml" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="csx" connectionString="Data Source=MCIB3ESXT001V13\SQLEXPRESS;Application Name=SRE;Initial Catalog=SRESAMPLE;Integrated Security=true"/>
    <add name="cs" connectionString="Data Source=MCIB3ESXT001V13\SQLEXPRESS;Application Name=SRE;Initial Catalog=SRE2.0;Integrated Security=true"/>
    <add name="cs1" connectionString="Data Source='|DataDirectory|\scfcg.sdf';password=acc3s$;"/>
    <add name="cs2" connectionString="Data Source='C:\Deb\Workspace\Symplus\Accelerators\SRE\Libs\sre2.0.sdf';password=acc3s$;"/>
  </connectionStrings>
  
  <symplusCoreConfigurationSection instanceName="DEV.SRE4.0" cache="true" tempDirectory="c:\temp"
    recordsPerThread="3" maxThreads="10">
    <database databaseType="SqlServer" />
    <email enabled="true" smtpServer="smtp.capmark.funb.com" fromEmail="debojyoti.das@wellsfargo.com"
      toEmails="debojyoti.das@wellsfargo.com" />
    <trace enabled="true" filter="Information" file="C:\Deb\Workspace\Symplus\Accelerators\SRE\Services\srew.txt" />   
  </symplusCoreConfigurationSection>
  <sreConfigurationSection timeOut="1440" workerTimeOut="60">
    <localFileWatcher enabled="true" baseDirectory="C:\Deb\Workspace\Symplus\Accelerators\SRE\Services\Host\App_Data"
   retryTimeOut="10" />
    <tracking enabled="false" performanceCounter="false" silientBusinessRuleError="true"
      updateMatrix="false" updateMatrixFormat="[{0}] ? {1} &gt;&gt;" />
    <jobContainer enabled="true" timeOut="10" />
  </sreConfigurationSection>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="StandardBehavior" name="Symplus.RuleEngine.Services.Sre">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="default" contract="Symplus.RuleEngine.Services.ISre"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="default" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <!--Security to be enabled in server-->
          <!--
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
          -->
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="StandardBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <windowsAuthentication includeWindowsGroups="true" allowAnonymousLogons="false"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="65536"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="monitor.axd">
    <system.web>
      <httpHandlers>
        <add verb="*" path="*" type="Symplus.RuleEngine.Services.PageFactory, Symplus.RuleEngine.Services"/>
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add verb="*" path="*" type="Symplus.RuleEngine.Services.PageFactory, Symplus.RuleEngine.Services" name="monitor"/>
      </handlers>
    </system.webServer>
  </location>

</configuration>
