<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include Properties.wxi?>
  <Fragment>
    <DirectoryRef Id="INSTALLLOCATION">    
      <Component Id="External.Libraries" Guid="1f336ee2-19e7-4d11-8964-9a7327ad7a0e" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <File Id="Excel.dll" Name="Excel.dll" Source="..\..\Executables\Excel.dll" Vital="yes" KeyPath="no" DiskId="1" />
        <File Id="ICSharpCode.SharpZipLib.dll" Name="ICSharpCode.SharpZipLib.dll" Source="..\..\Executables\ICSharpCode.SharpZipLib.dll" Vital="yes" KeyPath="no" DiskId="1" />        
      </Component>
      <Component Id="External.Libraries.Oracle" Guid="aa2a24a7-900c-4058-97d6-feb27f6f2976" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>        
        <File Id="Oracle.DataAccess.dll" Name="Oracle.DataAccess.dll" Source="..\..\Executables\Oracle.DataAccess.dll" Vital="yes" KeyPath="no" DiskId="1" />
      </Component>
      <Component Id="Eyedia.IDPE.Internal.Libraries" Guid="808c3b79-75c8-407d-a48b-d730eb02349f" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <File Id="Eyedia.Core.dll" Name="Eyedia.Core.dll" Source="..\..\Executables\Eyedia.Core.dll" Vital="yes" KeyPath="no" DiskId="1" />
        <File Id="Eyedia.IDPE.Common.dll" Name="Eyedia.IDPE.Common.dll" Source="..\..\Executables\Eyedia.IDPE.Common.dll" Vital="yes" KeyPath="no" DiskId="1" />
      </Component>
      <Component Id="Eyedia.IDPE.Utilities" Guid="84b495fe-df1e-49e4-8069-e5f279a645ea" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <File Id="idped.exe" Name="idped.exe" Source="..\..\Executables\idped.exe" Vital="yes" KeyPath="yes" DiskId="1">
          <Shortcut Id="desktopShortcut" Directory="DesktopFolder" Name="$(var.ProductName)" WorkingDirectory="INSTALLDIR" Advertise="yes" Icon="DesktopIcon.exe" IconIndex="0" />
          <Shortcut Id="ExeShortcut" Directory="ProgramMenuDir" Name="$(var.ProductName)" Advertise="yes" Icon="StartMenuIcon.exe" IconIndex="0" />
        </File>        
      </Component>
      <Component Id="Eyedia.IDPE.Utilities.Config" Guid="0c32d311-5c69-48eb-9bf8-33882c478463" Win64="yes">
        <File Id="idped.exe.config" Name="idped.exe.config" DefaultVersion="$(var.Version)" Source="..\..\Executables\idped.exe.config" Vital="yes" KeyPath="no" DiskId="1" />
      </Component>
      <Component Id="Eyedia.IDPE.Utilities.cmd" Guid="bb255841-f7d1-4b16-893a-030a7639f1c4" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <File Id="idpec.exe" Name="idpec.exe" Source="..\..\Executables\idpec.exe" Vital="yes" KeyPath="yes" DiskId="1" />
        <File Id="idpec.exe.config" Name="idpec.exe.config" Source="..\..\Executables\idpec.exe.config" Vital="yes" KeyPath="no" DiskId="1" />
      </Component>
      <Component Id="Eyedia.IDPE.Services.dll" Guid="dd95ff96-7f8a-4f12-8fe2-b6ebd3d94c71" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>        
        <File Id="Eyedia.IDPE.Services.dll" Name="Eyedia.IDPE.Services.dll" Source="..\..\Executables\Eyedia.IDPE.Services.dll" Vital="yes" KeyPath="yes" DiskId="1" />
      </Component>
      <Component Id="Eyedia.IDPE.DataManager.dll" Guid="6b8fc50d-60da-45ce-a14b-161da91f8572" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <File Id="Eyedia.IDPE.DataManager.dll" Name="Eyedia.IDPE.DataManager.dll" Source="..\..\Executables\Eyedia.IDPE.DataManager.dll" Vital="yes" KeyPath="yes" DiskId="1" />        
      </Component>
      <Component Id="Eyedia.IDPE.WindowsService" Guid="9a894130-aedf-42cb-a31e-8416f1481f20" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>        
        <File Id="idpe.exe.config" Name="idpe.exe.config" DefaultVersion="$(var.Version)" Source="..\..\Executables\idpe.exe.config" Vital="yes" KeyPath="no" DiskId="1" />
        <File Id="idpe.exe" Name="idpe.exe" Source="..\..\Executables\idpe.exe" Vital="yes" KeyPath="yes" DiskId="1" />
        <File Id="SymplusRuleEngineService" Name="SymplusRuleEngineService" Source="..\..\Executables\idpe.exe" Vital="yes" KeyPath="no" DiskId="1" />        
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Vital="yes" Name="[INSTANCENAME]" DisplayName="[INSTANCENAME]" Description="[INSTANCEDESCRIPTION]" Start="auto" Account="NT Authority\Network Service" ErrorControl="ignore" Interactive="no">
        </ServiceInstall>        
      </Component>
      <Component Id="RegistryComponent" Guid="ccc462b9-8b4b-48d5-96e3-14d812038ec8" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <RegistryKey Id="MainRegKey" Action="createAndRemoveOnUninstall" Root="HKLM" Key="SOFTWARE\[Manufacturer]\[ProductName]\01">
          <RegistryValue Id="ServiceName" Name="ServiceName" Value="[INSTANCENAME]" Type="string" />
          <RegistryValue Id="ServiceDescription" Name="ServiceDescription" Value="[INSTANCEDESCRIPTION]" Type="string" />
        </RegistryKey>
      </Component>
      <!--<Component Id="db" Guid="616317f8-d595-418e-a607-e66a7860047f">
        <File Id="samples.sdf" Name="samples.sdf" Source="..\..\Executables\samples.sdf" Vital="yes" KeyPath="no" DiskId="1" />
      </Component>-->
      
      <Component Id="ConfigUtil" Guid="87b0dd90-5192-4788-b871-1d6b28f39a3c" KeyPath="yes" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <util:XmlFile Id="ConfigUtilcs"
                      Action="setValue" 
                      Permanent="yes"
                      Name="connectionString" 
                      ElementPath="/configuration/connectionStrings/add[\[]@name='cs'[\]]" 
                      File="[#idped.exe.config]" 
                      Value="Data Source='[INSTALLLOCATION][DEFAULTDB]';password=acc3s$"
                      Sequence="1"/>
        <util:XmlFile Id="ConfigUtilDebug" 
                      Action="setValue" 
                      Permanent="yes"
                      Name="debug" 
                      ElementPath="/configuration/symplusCoreConfigurationSection[\[]@debug[\]]" 
                      File="[#idped.exe.config]" 
                      Value="false"
                      Sequence="2"/>
        
        <util:XmlFile Id="ConfigUtilDatabaseType" 
                      Action="setValue" 
                      Name="databaseType"
                      Permanent="yes"
                      ElementPath="/configuration/symplusCoreConfigurationSection/database[\[]@databaseType[\]]" 
                      File="[#idped.exe.config]" 
                      Value="SqlCe"
                      Sequence="2"/>        
      </Component>
      <Component Id="ConfigIdpe" Guid="cecf8103-1098-4e8b-ad84-32a26fe27719" KeyPath="yes" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <util:XmlFile Id="ConfigIdpecs" Action="setValue" Name="connectionString" ElementPath="/configuration/connectionStrings/add[\[]@name='cs'[\]]" File="[#idpe.exe.config]" Value="Data Source='[INSTALLLOCATION][DEFAULTDB]';password=acc3s$" />
        <util:XmlFile Id="ConfigIdpeInstanceName" Action="setValue" Name="instanceName" ElementPath="/configuration/symplusCoreConfigurationSection[\[]@instanceName[\]]" File="[#idpe.exe.config]" Value="[INSTANCENAMESHORT]" />
        <util:XmlFile Id="ConfigIdpeDebug" Action="setValue" Name="debug" ElementPath="/configuration/symplusCoreConfigurationSection[\[]@debug[\]]" File="[#idpe.exe.config]" Value="false" />
        <util:XmlFile Id="ConfigIdpeCache" Action="setValue" Name="cache" ElementPath="/configuration/symplusCoreConfigurationSection[\[]@cache[\]]" File="[#idpe.exe.config]" Value="true" />
        <util:XmlFile Id="TempFolder" Action="setValue" Name="tempDirectory" ElementPath="/configuration/symplusCoreConfigurationSection[\[]@tempDirectory[\]]" File="[#idpe.exe.config]" Value="[TEMPFOLDER]" />
        <util:XmlFile Id="ConfigIdpeDatabaseType" Action="setValue" Name="databaseType" ElementPath="/configuration/symplusCoreConfigurationSection/database[\[]@databaseType[\]]" File="[#idpe.exe.config]" Value="SqlCe" />        
        <util:XmlFile Id="ConfigIdpeSMTPServer" Action="setValue" Name="smtpServer" ElementPath="/configuration/symplusCoreConfigurationSection/email[\[]@smtpServer[\]]" File="[#idpe.exe.config]" Value="[SMTP]" />
        <util:XmlFile Id="ConfigIdpeFromEmailId" Action="setValue" Name="fromEmail" ElementPath="/configuration/symplusCoreConfigurationSection/email[\[]@fromEmail[\]]" File="[#idpe.exe.config]" Value="[FROM]" />
        <util:XmlFile Id="ConfigIdpeToEmailIds" Action="setValue" Name="toEmails" ElementPath="/configuration/symplusCoreConfigurationSection/email[\[]@toEmails[\]]" File="[#idpe.exe.config]" Value="[TO]" />
        <util:XmlFile Id="CustomTraceEnabled" Action="setValue" Name="enabled" ElementPath="/configuration/symplusCoreConfigurationSection/trace[\[]@enabled[\]]" File="[#idpe.exe.config]" Value="true" />
        <util:XmlFile Id="CustomTraceFilePath" Action="setValue" Name="file" ElementPath="/configuration/symplusCoreConfigurationSection/trace[\[]@file[\]]" File="[#idpe.exe.config]" Value="[LogFolder]idpe.log" />
        <util:XmlFile Id="LocalFileWatcherFolder" Action="setValue" Name="baseDirectory" ElementPath="/configuration/idpeConfigurationSection/localFileWatcher[\[]@baseDirectory[\]]" File="[#idpe.exe.config]" Value="[WATCHFOLDER]" />
      </Component>
      <Component Id="StartService" Guid="86a0b300-b833-4012-bdda-7973742d5e15" KeyPath="yes" Win64="yes">
        <Condition><![CDATA[SERVICEHOSTTYPE = "ws"]]></Condition>
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="[INSTANCENAME]" Wait="yes" />
      </Component>          
    </DirectoryRef>

    <ComponentGroup Id="SetupWindowsService">
      <ComponentRef Id="CreateWSFolder"/>
      <ComponentRef Id="InstallDirDataPermissions" />      
      <ComponentRef Id="External.Libraries" />
      <ComponentRef Id="Eyedia.IDPE.Internal.Libraries" />
      <ComponentRef Id="Eyedia.IDPE.Utilities" />
      <ComponentRef Id="Eyedia.IDPE.Utilities.Config" />
      <ComponentRef Id="Eyedia.IDPE.Utilities.cmd" />
      <ComponentRef Id="Eyedia.IDPE.Services.dll" />
      <ComponentRef Id="Eyedia.IDPE.DataManager.dll" />
      <ComponentRef Id="Eyedia.IDPE.WindowsService" />
      <ComponentRef Id="db" />
      <ComponentRef Id="ConfigUtil" />
      <ComponentRef Id="ConfigIdpe" />
      <ComponentRef Id="RegistryComponent" />
      <ComponentRef Id="StartService"/>      
    </ComponentGroup>
    <ComponentGroup Id="OracleFiles">
      <ComponentRef Id="External.Libraries.Oracle" />
    </ComponentGroup>
  </Fragment>
</Wix>